.none {
    display: none;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.flex-between {
    display: flex !important;
    justify-content: space-between !important;
}

.flex-around {
    display: flex !important;
    justify-content: space-around !important;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-column-start {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}